
* { box-sizing: border-box; }
body {
font-family: Yu Gothic;

color: black;
}
.centralcolumn {
background-color: white;
width: 1024px;
padding-top: 10px;

}
/* Clear floats after the columns */
section:after {
content: "";
display: table;
clear: both;
}
/* STRUCTURE */
.wrapper {
padding: 0px;
max-width: 10240px;
margin-top: 0px;
width: 100%;
float: left;
}
.columns {
display: flex;
flex-flow: row wrap;
justify-content: center;
margin: 0px;
padding: 5px;
z-index: 5;
}
.column {
flex: 1;
border-top: 1px solid #808080;
border-bottom: 0px solid #ccc;
border-left: 0px solid #666;
margin-top: 4px;
margin-left: 0px;
margin-right: 0px;
padding: 4px;
&:first-child { margin-left: 0; }
&:last-child { margin-right: 0; }
}
.post-title{display:none;}
/* Two columns that floats next to each other */
.columnA {
float: left;
width: 30%;
padding-right: 20px;
padding-left: 20px;
background-color: white;
display: block;
}
.columnB {
float: left;
width: 70%;
padding: 0px;
background-color: white;
}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}
@media screen and (max-width: 980px) {
.columns .column {
margin-bottom: 5px;
flex-basis: 50%;
&:nth-last-child(2) {
margin-right: 0;
}
&:last-child {
flex-basis: 100%;
margin: 0;
}
}
}
@media screen and (max-width: 980px) {
.columns .column {
flex-basis: 100%;
margin: 3 0 0 0;
margin-top: 4;
border-bottom: 0px solid #ccc;
border-top: 1px solid #808080;
}
}
@media (max-width: 600px) {
.columnA {
display: none;
}
.columnB {
width: 100%;
}
}
img {
vertical-align: top;
}
.Bordered {
border: 1px solid green;
}
.StretchToContainer {
position: absolute;
width: 100%;
height: 100%;
}
.headercontainer {
float: left;
height: 50px;
margin-bottom: 10px;
}
.langbar {
float: right;
margin-right: 5px;
}
.line {
  stroke-linecap: round;
  stroke-width: 6%;
  stroke: blue;
}

.box {
  stroke-width:3%;
  stroke:green;
  height: 100%;
  width: 100%;
  fill: none;
}

.circle {
  stroke: blue;
  stroke-width: 10%;
}
.button {
  cursor: pointer;
  width: 9%;
  height: 12%;
}
.button:hover .btnCoff {
  fill: red;
}
.button:hover .btnToff {
  fill: white;
}
.btnCon {
  fill: blue;
}
.btnCoff {
  fill: white;
}
.btnTon {
  fill: white;
}
.btnToff {
  fill: black;
}

#P00XBtnImgId1T {
  transform-origin: 40% 40%;
  transform:scale(0.65, 0.65);
}

#P00XBtnImgId2T {
  transform-origin: 50% 42%;
  transform:scale(0.65, 0.65);
}

#P00XBtnImgId3T {
  transform-origin: 50% 44%;
  transform:scale(0.65, 0.65);
}

#P00XBtnImgId4T {
  transform-origin: 47% 44%;
  transform:scale(0.65, 0.65);
}

#P00XBtnImgId5T {
  transform-origin: 50% 48%;
  transform:scale(0.65, 0.65);
}

#P00XBtnImgId6T {
  transform-origin: 50% 44%;
  transform:scale(0.65, 0.65);
}

#P00XBtnImgId7T {
  transform-origin: 50% 50%;
  transform:scale(0.65, 0.65);
}

#P00XBtnImgId8T {
  transform-origin: 50% 44%;
  transform:scale(0.65, 0.65);
}

.img-overlay-wrap {
position: relative;
width: 100%;
}

.img-overlay-wrap img { /* <= optional, for responsiveness */
display: block;
max-width: 100%;
height: auto;
}

.img-overlay-wrap svg {
position: absolute;
top: 0;
left: 0;
}

.highlighted {
color: red;
}
.HLightedBl {
color: blue;
}
#codecont {
  background: #fff;
  color: #808080;
  padding: 15px;
  width: 100%;
  height: 200px;
  overflow: auto;
  font-size: 12px;
}
.btn {
  background-color: #fff;
  border: 1px solid #808080;
  cursor: pointer;
}
.btn:hover {
  background-color: #ccc;
}

.svghlght {
  color: blue;
}

.Bordered {
border: 1px solid green;
}

.slider {
-webkit-appearance: none;
margin-left: 20%;
margin-top: 5px;
width: 60%;
height: 15px;
background: #d3d3d3;
outline: none;
opacity: 0.7;
-webkit-transition: .2s;
transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 15px;
height: 15px;
background: #4CAF50;
cursor: pointer;
}

#markerbounds {
margin: auto;
position: relative;

}

#box {
margin: auto;
background-color: ;
position: absolute;
}

#marker {
position: relative;
background-color: green;
opacity: 0.5;
border-radius: 0;
box-sizing: border-box;
border: 1px solid green;
}

#widget {
border: 0px solid black;
}
.SocialBtnContainerClass {
position:relative;
display: inline-block;
width: 30px;
height: 30px;
z-index: 10;
}
.SocialBtn-CircleClass {
stroke: black;
stroke-width: 6%;
z-index: 1;
}
.SocialBtnContainer-TextImgClass {
cursor: pointer;
position: absolute;
top: 10%;
left: 10%;
width: 80%;
height: 80%;
z-index: 6;
fill: black;
}
.SocialBtnContainer-TextImgClass:hover {
fill: white;
}
.SocialBtn-CircleContainerClass {
position: absolute;
width: 100%;
height: 100%;
fill: white;
}
.SocialBtnContainer-TextImgClass:hover ~ .SocialBtn-CircleContainerClass {
fill: black;
}
.SocialBtnContainerClass {
position:relative;
display: inline-block;
width: 50px;
height: 50px;
z-index: 10;
}
.MenuA {
width: 100%;
margin-top: 5px;
padding-bottom: 5px;
}
.sharelikeA {
width: 100%;
border-bottom:1px solid #808080;
padding-bottom: 15px;
border-top:1px solid #808080;
padding-top: 5px;
}
#sharetextA {
color: black;
}
.sharelikeB {
width: 100%;
border-bottom:1px solid #808080;
padding-bottom: 15px;
padding-top: 0px;
display: none;
}
.CopyRight {
width: 100%;
border-top:0px solid #666;
text-align: left;
}

a.linkmenu:link, a:visited {
border-top: 1px solid #808080;
border-bottom: 1px solid #808080;
border-radius: 0px;
margin-bottom: 5px;
margin-top: 5px;
padding: 5px 5px;
text-align: center;
text-decoration: none;
display: inline-block;
width: 100%;
}
a.linkmenu:hover, a:active {
background-color: #808080;
color: white;
}

a.unsel {
background-color: white;	
color: black;		 
}
a.sel {
background-color: #808080;	
color: white;		 
}

h2 {
padding-left: 1.5vw;
padding-top: 1vw;
padding-bottom: 1vw;
margin: 0px;
font-size: 3.4vw;
display: block;
}

p {

color: black;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0;
margin-right: 0;
font-weight: normal;
display: inline-block;
}

@media (max-width: 1024px) {
.centralcolumn {
width: 100%;
}
}
@media (max-width: 600px) {
.menucolumnA {
display: inline-block;
}
.menucolumnB {
display: inline-block;
}
.sharelikeB {
display: block;
}
.headercontainer {
height: 30px;
}
p.header {
display: none;
}
}
