
* { box-sizing: border-box; }
body {
font-family: Yu Gothic;
color: black;
}

.centralcolumn {
background-color: white;
width: 1024px;
padding-top: 10px;

}

/* Clear floats after the columns */
section:after {
content: "";
display: table;
clear: both;
}

.columns {
display: flex;
flex-flow: row wrap;
justify-content: center;
margin: 0px;
padding: 5px;
z-index: 5;
}
.column {
flex: 1;
border-top: 1px solid #808080;
border-bottom: 0px solid #ccc;
border-left: 0px solid #666;
margin-top: 4px;
margin-left: 0px;
margin-right: 0px;
padding: 4px;
&:first-child { margin-left: 0; }
&:last-child { margin-right: 0; }
}

/* Two columns that float next to each other */
.columnA {
float: left;
width: 30%;
padding-right: 20px;
padding-left: 20px;
background-color: white;
display: block;


}
.columnB {
float: left;
width: 70%;
padding: 0px;
background-color: white;
position: relative; 
z-index: 50;

}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

        
.StretchToContainer {
position: absolute;
width: 100%;
height: 100%;
}
.headercontainer {
float: left;
height: 50px;
margin-bottom: 10px;
cursor: pointer;
}
.langbar {
float: right;
margin-right: 10px;
}

.topnav {
	display: block;
}

.BrgrExpdr {
	
}

.BrgrExpdr {
max-height:1.2em;
border-bottom: 0px;
background:#fff;
color:white;
z-index: 5;
position: relative;
padding-bottom: 23px;
padding-top: 0px;
width: 100%;
-moz-transition: 1s;
-ms-transition: 1s;
-o-transition: 1s;
-webkit-transition: 1s;
transition: 1s;
display: none;
}

.BrgrBtnCnt {
position:relative;
display: inline-block;
width: 28px;
height: 28px;
z-index: 10;
}

.ClrBtnCnt {
position:relative;
display: flex;
padding: 2px;
width: 18px;
height: 18px;
z-index: 10;
cursor: pointer; 
}

.GlOpSlct {
	border: 1px solid #808080;
	border-radius: 2px;

}

.GlMdeBtnCnt {
	position:relative;
display: flex;
padding: 2px;
width: 24px;
height: 18px;
z-index: 10;
cursor: pointer; 
}

.expand {
max-height:999px;
}


         
img {
vertical-align: top;
}

/* img backgrounds */
.blk {
	background-color: #000;
}
.blkhvr {
	background-color: #383838;
}
.wht {
	background-color: #fff;
}
.whthvr {
	background-color: #F8F8F8;
	cursor: pointer;
}



.whtbckhv {
	background-color: #fff;
	cursor: pointer;
}
.whtbckhv:hover {
	background-color: #F8F8F8;
}
.blkbckhv {
	background-color: #000;
}
.blkbckhv:hover {
	background-color: #383838;
}



p {
color: black;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0;
margin-right: 0;
font-weight: normal;
display: inline-block;
}

.headercnt {
	width: 100%; 
	padding-left: 30px; 
	float: left;
	display: block;
	color: blue;
	margin-bottom: 15px;
	margin-top: 15px;
}

.headercntL {
	width: 100%; 
	padding-left: 30px; 
	float: left;
	display: block;
	color: blue;
}

.sharelikeB {
width: 100%;
border-bottom:1px solid #808080;
border-top:1px solid #808080;
padding-bottom: 15px;
display: none;
background-color: white;
text-align: center;
z-index: 90;
}





.modalccolumn {
width: 100%;
padding-top: 10px;
}

.CopyRight {
width: 100%;
border-top:0px solid #666;
text-align: left;
padding-left: 15px;
}



/* Image Attributions - Fixed width Image List. Left floating */
.imgattrcol {
float: left;
width: 50px;
padding: 10px;
}

/* Img Attr. Styling */
.imgattr {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.imgattr:hover {
	opacity: 0.7;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}


.langbox {
	width: 100%; 
	border-top: 0px solid #808080;
	border-bottom: 0px solid #808080;
	
	display: inline-block;
	background: rgb(255, 255, 255); 
	background: rgba(255, 255, 255, 0.8); 
	position: relative; 
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 0px;
	
}





.MnpPtchCnt {
 width: 33%;
 margin-bottom: 50px;
 border: 0px solid #808080;
}



/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
	
  }
}



 
/* Responsiveness */
@media (max-width: 1024px) {
.centralcolumn {
width: 100%;
}
.modalccolumn {
width: 100%;
}


}
		 
@media (max-width: 600px) {

.sharelikeB {
display: block;
}
.CopyRight {
	padding-left: 0px;
}
.headercontainer {
height: 30px;
}
.headercnt {
	padding-left: 5px;
}

.topnav {
	display: none;
}
.BrgrExpdr {
	display: block;
}

.langbox {
width: 100%;
margin-top: 0px;
margin-bottom: 0px;
background-color: transparent;
 


overflow: hidden;
}

.LBxLSlct {
	width: 100%; position: relative; float: left; border: 0px solid red; margin-bottom: 20px; background-color: transparent; 
}

.MnpPtchCnt {
	width: 100%;
	float: left; 
}




}
		 
@media screen and (orientation: portrait) and (max-width: 980px) and (max-height: 980px) {
.columns .column {
  flex-basis: 100%;
  margin: 4 0 0 0;
  border-top: 1px solid #808080;
}
.CopyRight {
	padding-left: 0px;
}
.columnA {
  display: none;
}
.columnB {
  width: 100%;
}
#caption {
  width: 100%;
}

.sharelikeB {
display: block;
}

}
        
@media only screen and (orientation: landscape) and (max-width: 980px) and (max-height: 500px) { 
.columnA {
display: none;
}
.columnB {
width: 100%;
}
.CopyRight {
	padding-left: 0px;
}
.header {
display: block;
}
.sharelikeB {
display: block;
}
.langbox {
width: 100%;
}

.langbox {
width: 100%;
margin-top: 0px;
background-color: transparent;
border: 0px solid red;
overflow: hidden;
}

.LBxLSlct {
	width: 28%; 
	position: relative;
display: inline-block;	
	float: left; border: 1px solid red; 
	margin-bottom: 20px; 
background-color: transparent; 
}

.LBxPrnt {
	width: 60%;
	border: 0px solid blue;
	
	position: absolute; 
	top: 0px;
	float: left; 
	margin-top: 5px;
}

.MnpPtchCnt {
		width: 40%;
}



}
		
