.lbtnhlghtd {
 font-weight: bold;
 background-color: #fff;
 cursor: normal;
 border-bottom: 1px solid #000;
 border-radius: 0px;
 padding-left: 2px;
 padding-right: 2px;
 color: blue;
}

.langbtns {
	display: inline-block;
	cursor: pointer;
	font-size: 14px;
	border-radius: 0px;
	width: 70%; 
	margin-bottom: 10px;
}

.langbtns:hover {
	
	color: blue;
	font-weight: bold;
	border-bottom: 1px solid #000;
	height: 24px;
}

.langbtnsacc {
	display: inline-block;
	cursor: pointer;
	font-size: 14px;
	border-radius: 0px;
	padding-left: 2px;
	padding-right: 2px;
	margin-bottom: 0px;
}

.langbtnsacc:hover {
	color: blue;
	font-weight: bold;
	border-bottom: 1px solid #000;
}

.lngbtnscnt {
	height: 24px; 
	margin-bottom: 10px;
}

.lngbtnsacccnt {	
	display: inline-block; 
	height: 24px; 
	margin-bottom: 0px;
	text-align: center;
	margin-right: 20px;
	border: 0px solid #000;
}


.LBxLSlct {
	
	position: relative;  
backgroun-color: #fff;
display: inline-block; 
border: 1px solid #ccc; 
border-radius: 5px;
}

.MenuA {
width: 100%;
margin-top: 5px;
padding-bottom: 5px;
}

.langdsp {
	margin-top: 20px; 
	margin-bottom: 0px; 
	background-color: #fff; 
	border: 0px solid #808080;
	border-bottom: 0px solid #808080;
	padding: 0px; 
	font-weight: bold;
	font-size: 14px;
}

a.linkmenu {
background-color: white;
border-top: 1px solid #808080;
border-bottom: 1px solid #808080;
color: black;
margin-bottom: 5px;
margin-top: 5px;
padding: 5px 5px;
text-align: center;
text-decoration: none;
display: inline-block;
width: 100%;
}
a.linkmenu:hover {
background-color: #808080;
color: white;
}

a.linkmenu:visited {
background-color: white;
color: black;
}

a.linkmenu:visited:hover {
background-color: #808080;
color: white;
}


a.sel {
background-color: #808080;	
color: white;		 
}

a.sel:visited {
background-color: #808080;	
color: white;		 
}

p.header {
display: block;
}

.sharelikeA {
width: 100%;
margin-top: 10px;
position: relative;
border-bottom: 1px solid #808080;
padding-bottom: 15px;
border-top:1px solid #808080;
padding-top: 5px;
text-align: center;

}
#sharetextA {
color: black;
}


.SocialBtnContainerClass {
position:relative;
display: inline-block;
width: 30px;
height: 30px;
z-index: 10;
}
.SocialBtn-CircleClass {
stroke: black;
stroke-width: 6%;
z-index: 1;
}
.SocialBtnContainer-TextImgClass {
cursor: pointer;
position: absolute;
top: 10%;
left: 10%;
width: 80%;
height: 80%;
z-index: 6;
fill: black;
}
.SocialBtnContainer-TextImgClass:hover {
fill: white;
}
.SocialBtn-CircleContainerClass {
position: absolute;
width: 100%;
height: 100%;
fill: white;
}
.SocialBtnContainer-TextImgClass:hover ~ .SocialBtn-CircleContainerClass {
fill: black;
}
.SocialBtnContainerClass {
position:relative;
display: inline-block;
width: 50px;
height: 50px;
z-index: 10;
}

@media (max-width: 700px) {

.langbtns {

	width: 100%; 

}

}

